### 1. Connecting Python to MySQl

In [ ]:
# Connecting Python to MySQL
import pymysql
import pandas as pd

connection = pymysql.connect(host ='localhost',port=int(3306),user='root',passwd='rootroot')

# Creating a cursor object
cursor = connection.cursor()

### 2. Creating a New Schema

In [ ]:
# Create a new schema called whiskey_shop
cursor.execute('''
drop schema if exists whiskey_retail_shop;
''')

cursor.execute('''
create schema whiskey_retail_shop;
''')

# Use the new schema
cursor.execute('''
use whiskey_retail_shop;
''')

### 3. Generating Empty Tables

#### Countries

In [ ]:
cursor.execute('''
DROP TABLE IF EXISTS countries;
''')

cursor.execute('''
CREATE TABLE countries (
    country VARCHAR(100) NOT NULL,
    country_code VARCHAR(100) NOT NULL,
    country_id INT PRIMARY KEY
    );
''')

#### Customer_cc

In [ ]:
cursor.execute('''
DROP TABLE IF EXISTS customer_cc;
''')

cursor.execute('''
CREATE TABLE customer_cc (
    credit_provider VARCHAR(100) NOT NULL,
    credit_provider_id INT PRIMARY KEY
    );
''')

#### Products

In [ ]:
cursor.execute('''
DROP TABLE IF EXISTS products;
''')

cursor.execute('''
CREATE TABLE products (
    product_id int NOT NULL PRIMARY KEY,
    product_name VARCHAR(100) NOT NULL,
    alcohol_percent VARCHAR(5) NOT NULL,
    alcohol_amount FLOAT NOT NULL,
    alcohol_price FLOAT NOT NULL
    );
''')

#### Departments

In [ ]:
cursor.execute('''
DROP TABLE IF EXISTS departments;
''')

cursor.execute('''
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department VARCHAR(100) NOT NULL
    );
''')

#### Customers

In [ ]:
cursor.execute('''
DROP TABLE IF EXISTS customers;
''')

cursor.execute('''
CREATE TABLE customers (
    customer_id INT PRIMARY KEY NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100) NOT NULL,
    full_name VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL,
    street VARCHAR(100) NOT NULL,
    four_digits INT NOT NULL,
    country_id INT NOT NULL,
    credit_provider_id INT NOT NULL,
    
    FOREIGN KEY (country_id) REFERENCES countries (country_id),
    FOREIGN KEY (credit_provider_id) REFERENCES customer_cc (credit_provider_id)
);
''')

#### Employees

In [ ]:
cursor.execute('''
DROP TABLE IF EXISTS employees;
''')

cursor.execute('''
CREATE TABLE employees (
    employee_id INT PRIMARY KEY NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    last_name VARCHAR(100) NOT NULL,
    full_name VARCHAR(100) NOT NULL,
    email VARCHAR(100) NOT NULL,
    city VARCHAR(100) NOT NULL,
    department_id INT NOT NULL,
    
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);
''')

#### Payments

In [ ]:
cursor.execute('''
DROP TABLE IF EXISTS payments;
''')

cursor.execute('''
CREATE TABLE payments (
    payment_id INT NOT NULL PRIMARY KEY,
    date DATE NOT NULL,
    customer_id INT NOT NULL,
    employee_id INT NOT NULL,
    product_id INT NOT NULL,
    price FLOAT NOT NULL
    );
''')

### 4. Populating the Tables

#### Countries

In [ ]:
# Load the countries table
countries = pd.read_csv("./database/countries.csv", index_col='Unnamed: 0')

# Convert the Dataframe into a list of arrays
records = countries.to_records(index=False)

# Convert the list of arrays into a tuple of tuples
result = tuple(records)

for data in range(0,len(result)):
    
    # Create a new record
    query = "insert into countries (country, country_code, country_id) values {}".format(result[data])
    
    # Execute the query
    cursor.execute(query)
    
    
# Commit the transaction
connection.commit()

#### Customer_cc

In [ ]:
# Load the countries table
customer_cc = pd.read_csv("./database/customer_cc.csv", index_col='Unnamed: 0')

# Convert the Dataframe into a list of arrays
records = customer_cc.to_records(index=False)

# Convert the list of arrays into a tuple of tuples
result = tuple(records)

for data in range(0,len(result)):
    
    # Create a new record
    query = "insert into customer_cc (credit_provider, credit_provider_id) values {}".format(result[data])
    
    # Execute the query
    cursor.execute(query)
    
    
# Commit the transaction
connection.commit()

#### Products

In [ ]:
# Load the countries table
products = pd.read_csv("./database/products.csv", index_col='Unnamed: 0')

# Convert the Dataframe into a list of arrays
records = products.to_records(index=False)

# Convert the list of arrays into a tuple of tuples
result = tuple(records)

for data in range(0,len(result)):
    
    # Create a new record
    query = "insert into products (product_id, product_name, alcohol_percent, alcohol_amount, alcohol_price) values {}".format(result[data])
    
    # Execute the query
    cursor.execute(query)
    
    
# Commit the transaction
connection.commit()

#### Departments

In [ ]:
# Load the countries table
departments = pd.read_csv("./database/departments.csv", index_col='Unnamed: 0')

# Convert the Dataframe into a list of arrays
records = departments.to_records(index=False)

# Convert the list of arrays into a tuple of tuples
result = tuple(records)

for data in range(0,len(result)):
    
    # Create a new record
    query = "insert into departments (department_id, department) values {}".format(result[data])
    
    # Execute the query
    cursor.execute(query)
    
    
# Commit the transaction
connection.commit()

#### Customers

In [ ]:
# Load the countries table
customers = pd.read_csv("./database/customers_norm.csv", index_col='Unnamed: 0')

# Convert the Dataframe into a list of arrays
records = customers.to_records(index=False)

# Convert the list of arrays into a tuple of tuples
result = tuple(records)

for data in range(0,len(result)):
    
    # Create a new record
    query = "insert into customers (customer_id, first_name, last_name, full_name, email, street, four_digits, country_id, credit_provider_id) values {}".format(result[data])
    
    # Execute the query
    cursor.execute(query)
    
    
# Commit the transaction
connection.commit()

#### Employees

In [ ]:
# Load the countries table
employees = pd.read_csv("./database/employees_norm.csv", index_col='Unnamed: 0')

# Convert the Dataframe into a list of arrays
records = employees.to_records(index=False)

# Convert the list of arrays into a tuple of tuples
result = tuple(records)

for data in range(0,len(result)):
    
    # Create a new record
    query = "insert into employees (employee_id, first_name, last_name, full_name,email,city, department_id) values {}".format(result[data])
    
    # Execute the query
    cursor.execute(query)
    
    
# Commit the transaction
connection.commit()

#### Payments

In [ ]:
# Load the countries table
payments = pd.read_csv("./database/payments.csv", index_col='Unnamed: 0')

# Convert the Dataframe into a list of arrays
records = payments.to_records(index=False)

# Convert the list of arrays into a tuple of tuples
result = tuple(records)

for data in range(0,len(result)):
    
    # Create a new record
    query = "insert into payments (payment_id, date,customer_id,employee_id,product_id,price) values {}".format(result[data])
    
    # Execute the query
    cursor.execute(query)
    
# Commit the transaction
connection.commit()